*{
    
    padding: 0;
    margin: 0;

}

body{
    color: white;
    background-color: rgba(68, 9, 48, 0.262);
}
.first{
    margin-top: 5vw;
    text-align: center;
    justify-content: center;
}

.main{ 
    box-shadow: 10px 10px black;
    padding-bottom: 2vw;
    margin-top: 5vw;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background-color: #002A38;
    width: 50vw; 
    margin-left: 25vw;
}

h1{ 
    text-shadow: 3px 2px purple;
    padding-top: 2vw;
    font-size: 2.9vw;
    font-weight: 11vw;
    padding-bottom: 3vw;
}

img{
    margin-top: 2vw;
    border-radius: 100%;
    width: 40vw;
    height: 45vw;

}

span{
    font-weight: 1vw;
    font-size: 2vw;
   
}

a{
    font-size: 2vw;
    font-weight: 2vw;
    padding-bottom: 3vw;
    text-decoration: none;
    color: blue;
    
}

#currentDay{
   margin-top: 30vw;
   text-align: center;

}

/* #currentTime{
border: 2px solid black;    
border-radius: 5px;
padding: 0.3vw; 
 
} */

.time{   
border-radius: 5px;
padding: 0.3vw;
width: 12.90vw;
margin-left: 35%;
background-color: black;
}